@page
@using EmployeeManagement.Core.Mangement
@model EmployeeManagement.Core.Pages.EmployeeMessageModel
@{
    var user = UserManagement.GetLoggedInUser();
}

@if (!string.IsNullOrEmpty(Model.StatusMessage))
{
    <div class="alert @((Model.StatusMessage.Contains("skickats")) ? "alert-success" : "alert-danger")" role="alert">
        @Model.StatusMessage
    </div>
}
@if (user != null && Model.SendToUser.Id != Model.UserId)
{
    <div class="container my-3">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-center">Skicka Meddelande</h5>
                        <form method="post">
                            <input type="hidden" asp-for="SendMessage.Id" />
                            <input type="hidden" asp-for="SendMessage.FromUserId" value="@Model.UserId" />
                            <input type="hidden" id="messageToUserId" asp-for="SendMessage.ToUserId" value="@Model.SendToUser.Id" />

                            <div class="mb-3">
                                <label for="messageTitle" class="form-label">Rubrik</label>
                                <input id="messageTitle" class="form-control" type="text" asp-for="SendMessage.Title" placeholder="Rubrik" />
                            </div>
                            <div class="mb-3">
                                <label for="messageContent" class="form-label">Meddelande</label>
                                <textarea id="messageContent" class="form-control" asp-for="SendMessage.Content" placeholder="Meddelande"></textarea>
                            </div>

                            <div class="mb-3 text-center">
                                <input type="submit" name="addTask" value="Skicka meddelande" class="btn btn-dark" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    document.getElementById('messageTitle').focus();
    var sendToUserId = document.getElementById('messageToUserId').value;
    var messageToUserId = document.getElementById('messageToUserId');
    messageToUserId.value = sendToUserId;
</script>