@page
@model EmployeeManagement.Core.Pages.HomePageModel

@foreach (var post in Model.Posts)
{
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="card" style="max-width: 600px;">
                <div class="card-body">
                    <h5 class="card-title text-center">@post.Title</h5>
                    @if (Mangement.UserManagement.GetLoggedInUser() != null && Mangement.UserManagement.GetLoggedInUser().IsAdmin())
                    {
                        <div class="text-end mb-3">
                            <form method="post">
                                <input type="hidden" asp-for="Post.Id" value="@post.Id" />
                                <a asp-route-deletePost="@post.Id" class="btn btn-danger" class="border-0 bg-transparent">
                                    Delete
                                </a>
                            </form>
                        </div>
                    }
                    <hr />
                    <p class="card-text">@post.Content</p>
                    @if (post.PostImage != null)
                    {
                        <div class="text-center">
                            <img src="data:image/*;base64,@(Convert.ToBase64String(post.PostImage))" class="img-fluid rounded clickable-image" style="max-width: 100%; max-height: 300px;" data-toggle="modal" data-target="#imageModal">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <img src="" id="modalImage" class="img-fluid">
            </div>
        </div>
    </div>
</div>

<script>
    // Funktion för att sätta källan för bilden i modalfönstret
    $('.clickable-image').click(function () {
        var imageSource = $(this).attr('src');
        $('#modalImage').attr('src', imageSource);
    });
</script>
