@page
@model EmployeeManagement.Core.Pages.HomePageModel

@foreach (var post in Model.Posts)
{
    <div class="container py-4">
        <div class="card mb-4 shadow">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">@post.Title</h2>
                @if (Mangement.UserManagement.GetLoggedInUser() != null && Mangement.UserManagement.GetLoggedInUser().IsAdmin())
                {
                    <div class="text-end">
                        <form method="post">
                            <input type="hidden" asp-for="Post.Id" value="@post.Id" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                }
                <hr />
                <p class="card-text">@post.Content</p>
                <hr />
            </div>
            @if (post.PostImage != null)
            {
                <img src="data:image/*;base64,@(Convert.ToBase64String(post.PostImage))" class="card-img-bottom" style="object-fit: cover; border-radius: 0 0 7px 7px;">
            }
        </div>
    </div>
}