@page
@model EmployeeManagement.Core.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";

    var user = Mangement.UserManagement.GetLoggedInUser();
}

<body id="frontPageBody">
    
    @if (user == null || user.Id == 0)
    {
        <section class="vh-100" >
            <div class="container py-5 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col col-xl-6">
                        <div class="card" style="border-radius: 2rem; ">
     
                                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                    <div class="card-body p-4 p-lg-5 text-black">

                                        <form method="post">

                                            <div class="d-flex align-items-center mb-3 pb-1">
                                
                                                <span class="h1 fw-bold mb-0">Test</span>
                                            </div>

                                            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>

                                            <div class="form-outline mb-4">
                                                <label class="form-label">E-mail address</label>
                                                <input asp-for="UserInput.Email" type="email" class="form-control rounded-3 py-2" placeholder="E-mail address..." />
                                            </div>

                                            <div class="form-outline mb-4">
                                                <label class="form-label">Password</label>
                                                <input asp-for="UserInput.Password" type="password" class="form-control rounded-3 py-2" placeholder="Password..." />
                                            </div>

                                            <div class="pt-1 mb-4">
                                                <button class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                                            </div>
                                        </form>

                                    </div>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>
@if (Model.ErrorMessage)
{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function ShowErrorMessage() {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Wrong password!',
                showCancelButton: false,
                showConfirmButton: false,
                allowOutsideClick: true,
                timer: 2000,
            });
        }

        // Call the function if the ErrorMessage is present
        ShowErrorMessage();
    </script>
}