@page
@model UploadFilesModel
@{
}

<h1 class="text-center">Filer</h1>

@if (Model.Files != null && Model.Files.Any())
{
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="table-dark">
                <tr>
                    <th scope="col">NAMN</th>
                    <th scope="col">LADDA NER</th>
                    @if (Mangement.UserManagement.GetLoggedInUser() != null && Mangement.UserManagement.GetLoggedInUser().IsAdmin())
                    {
                        <th scope="col">TA-BORT</th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var fileData in Model.Files)
                {
                    <tr>
                        <td>@fileData.Name</td>
                        <td>
                            @if (fileData.File != null)
                            {
                                <form asp-page-handler="Download" method="post" asp-route-id="@fileData.Id">
                                    <button type="submit" class="btn btn-primary btn-sm ">Ladda ner</button>
                                </form>
                            }
                        </td>
                        <td>
                            @if (fileData.File != null && Mangement.UserManagement.GetLoggedInUser() != null && Mangement.UserManagement.GetLoggedInUser().IsAdmin())
                            {
                                <form asp-page-handler="Delete" method="post" asp-route-id="@fileData.Id">
                                    <button type="submit" class="btn btn-danger btn-sm ">Ta bort</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-center">Inga filer.</p>
}