<!DOCTYPE html>
<html lang="en">
@{
    var user = Mangement.UserManagement.GetLoggedInUser();
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EmployeeManagement</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EmployeeManagement.Core.styles.css" asp-append-version="true" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>


    <div class="menu-wrapper">
        <div class="sidebar-header">


            @if (user != null && user.Id != 0)
            {
                <div class="sideBar">
                    <div><img src=https://drive.google.com/thumbnail?id=1aWmbSZADIAOqZZ-TZ6IxTcCO72rDiUn1 /></div>

                    <ul>

                        @if (user.IsAdmin())
                        {
                            <li >
                                <i class="bi bi-person">
                                    <a  asp-area="" asp-page="/Admin"><label>Admin</label></a>
                                </i>
                            </li>
                        }
                        <li><i class="fas fa-chart-bar"></i><label>Statistics</label></li>
                        <li><i class="fas fa-cogs"></i><label>Services</label></li>
                        <li><i class="bi bi-person"></i><label>Profile</label></li>
                        <li>
                            <form method="post" asp-page="/Index" asp-page-handler="LogoutUser">
                                <i class="bi bi-box-arrow-in-left">
                                    <button type="submit" class="btn btn-light"><label>Logout</label></button>
                                </i>
                            </form>
                        </li>


                    </ul>

                </div>
            }

            <div class="backdrop"></div>
            <div class="content">
                <header>
                    @if (user != null && user.Id != 0)
                    {
                        <div class="menu-button" id='desktop'>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                        <div class="menu-button" id='mobile'>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    }
                    <h1>Empolyee Mangamenet</h1> <img src=https://drive.google.com/thumbnail?id=1aPr3-KTa66Bxye3IGajBxbBef4XOoaVv />
                </header>
                <div class="content-data">
                    <div class="container">
                        <main role="main" class="pb-3">
                            @RenderBody()
                        </main>
                    </div>
                </div>
            </div>


        </div>
    </div>






    @*     <div class="container">
    <main role="main" class="pb-3">
    @RenderBody()
    </main>
    </div> *@

    <footer class="border-top footer text-muted">
        <div class="container-fluid text-light d-flex justify-content-end px-3">
            &copy; 2024 - EmployeeManagement.Core -
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $("#mobile").click(function () {
            $('.sideBar').addClass("showMenu");
            $('.sideBar').removeClass("widthChange");
            $('.backdrop').addClass('showBackdrop')
        });
        $(".cross-icon").click(function () {
            $('.sideBar').removeClass("showMenu");
            $('.backdrop').removeClass('showBackdrop')
        });
        $(".backdrop").click(function () {
            $('.sideBar').removeClass("showMenu");
            $('.backdrop').removeClass('showBackdrop')
        });
        $("#desktop").click(function () {
            $('li label').toggleClass("hideMenuList");
            $('.sideBar').toggleClass("widthChange");
        });
        $('li').click(function () {
            $('li').removeClass();
            $(this).addClass('selected');
            $('.sideBar').removeClass("showMenu");
        });
    </script>
</body>
</html>